<form>
    <div class="grid-item">Dog Name</div>
    <div class="grid-item">Owner Name</div>
    <div class="grid-item">Check in</div>
    <div class="grid-item">Morning Walk<br><span><input type="checkbox" name="select-all" id="select-all-morning"
                class="morning" style="width:30%; height:30%">Select all</span></div>
    <div class="grid-item">Noon Walk<br><span><input type="checkbox" name="select-all" id="select-all-noon" style="width:30%; height:30%">Select
            all</span></div>
    <div class="grid-item">Late Walk<br><span><input type="checkbox" name="select-all" id="select-all-late" style="width:30%; height:30%">Select
            all</span></div>
    <div class="grid-item">Meds?</div>
    <div class="grid-item">Notes</div>
    <div class="grid-item">Check out</div>

    {{#each dogs}}
    <div class="grid-item">{{dog_name}}</div>
    <div class="grid-item">{{owner_name}}</div>
    <div class="grid-item"><button>Check in</button></div>
    <input type="checkbox" id="morning_walk" name="morning_walk" value="true"
        style="width:100%; height:100%">{{morning_walk}}</div>
    <input type="checkbox" id="midday_walk" name="midday_walk" value="true"
        style="width:100%; height:100%">{{midday_walk}}</div>
    <input type="checkbox" id="late_walk" name="late_walk" value="true" style="width:100%; height:100%">{{late_walk}}
    </div>
    <div class="grid-item">{{meds}}</div>
    <div class="grid-item">{{notes}}</div>
    <div class="grid-item"><button>Check out</button></div>
    {{/each}}
</form>

<div class="container">
    <div class="row">
        <div class="col-3">
        </div>
        <div class="col-6">
            <button class="btn btn-primary btn-block btn-lg updateActivity">Update</button>
        </div>
        <div class="col-3">
        </div>
    </div>
</div>


<script>
    $('#select-all-morning').click(function (event) {
        if (this.checked) {
            // Iterate each checkbox
            $('#morning_walk').each(function () {
                this.checked = true;
            });
        } else {
            $('#morning_walk').each(function () {
                this.checked = false;
            });
        }
    });
    $('#select-all-noon').click(function (event) {
        if (this.checked) {
            // Iterate each checkbox
            $('#midday_walk').each(function () {
                this.checked = true;
            });
        } else {
            $('#midday_walk').each(function () {
                this.checked = false;
            });
        }
    });
    $('#select-all-late').click(function (event) {
        if (this.checked) {
            // Iterate each checkbox
            $('#late_walk').each(function () {
                this.checked = true;
            });
        } else {
            $('#late_walk').each(function () {
                this.checked = false;
            });
        }
    });
</script>

<style>
    form {
        display: grid;
        margin-top: 30px;
        grid-template-columns: auto auto auto auto auto auto auto auto auto;
        background-color: #2196F3;
        padding: 10px;
        grid-gap: 5px;
    }

    .updateActivity {
        margin-top: 30px
    }

    .grid-item {
        background-color: rgba(255, 255, 255, 0.8);
        border: 1px solid rgba(0, 0, 0, 0.8);
        padding: 20px;
        font-size: 20px;
        text-align: center;
    }
</style>