<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="grid-container">
                <div class="grid-header">Dog Name</div>
                <div class="grid-header">Owner First Name</div>
                <div class="grid-header">Owner Last Name</div>
                <div class="grid-header">Status</div>
                <div class="grid-header">Check-in</div>
                <div class="grid-header">Check-out</div>
                {{#each dogs}}
                <div class="grid-item">{{dog_name}}</div>
                <div class="grid-item">{{Owner.owner_first_name}}</div>
                <div class="grid-item">{{Owner.owner_last_name}}</div>
                <div class="grid-item">{{check_in}}</div>
                <button type="button" class="grid-item btn btn-success text-dark checkIn" data-id="{{id}}"
                    data-check_in="{{check_in}}">Check In</button>
                <button type="button" class="grid-item btn btn-primary text-dark checkOut" data-id="{{id}}"
                    data-check_out="{{check_out}}">Check Out</button>
                {{/each}}

            </div>
        </div>
    </div>
</div>

<script>
    $('.checkIn').click(function () {
        // refresh when the button is clicked
        location.reload()
    })
    $('.checkOut').click(function () {
        // refresh when the button is clicked
        location.reload()
    })
</script>

<style>
    .grid-container {
        display: grid;
        margin-top: 30px;
        grid-template-columns: auto auto auto auto auto auto;
        background-color: lightgray;
    }

    .grid-header {
        text-align: center;
        background-color: darkgray;
        border: 1px solid rgba(0, 0, 0, 0.8);
        font-size: 25px;
    }

    .grid-item {
        background-color: lightgray;
        border: 1px solid rgba(0, 0, 0, 0.8);
        font-size: 20px;
        text-align: center;

    }
</style>