<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="grid-container">
                <div class="grid-header">Dog Name</div>
                <div class="grid-header">Meds?</div>
                <div class="grid-header">Shots Records?</div>
                <div class="grid-header">Owner First Name</div>
                <div class="grid-header">Owner Last Name</div>
                <div class="grid-header">Notes</div>
                <div class="grid-header">Quick Check-in</div>
                {{#each dogs}}
                <div class="grid-item">{{dog_name}}</div>
                <div class="grid-item">{{meds}}</div>
                <div class="grid-item">{{shots}}</div>
                <div class="grid-item">{{owner_first_name}}</div>
                <div class="grid-item">{{owner_last_name}}</div>
                <div class="grid-item">{{notes}}</div>
                <button class="grid-item btn btn-primary text-dark checkIn" data-id="{{id}}" data-check_in="{{check_in}}">Check In</div>

                {{else}}
                <p>no dogs available</p>

                {{/each}}
            </div>
        </div>
    </div>
</div>







<style>
    .grid-container {
        display: grid;
        margin-top: 30px;
        grid-template-columns: auto auto auto auto auto auto auto;
        background-color: lightgray;
    }

    .grid-header {
        text-align: center;
        background-color: lightgray;
        border: 1px solid rgba(0, 0, 0, 0.8);
        font-size: 25px;
    }

    .grid-item {
        background-color: lightgray;
        border: 1px solid rgba(0, 0, 0, 0.8);
        font-size: 20px;
        text-align: center;

    }