<header id="header">
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <h1><span class="fa fa-cog"></span> Dashboard <small>Manage your
                        PUPS!</small><span>
                        <p id="time"></p>
                    </span></h1>
            </div>
        </div>
    </div>

    <hr>
</header>


<div class="container">

    <h2 id="date"></h2>

    <div class="row">
        <div class="col-4">
            <button type="button" class="btn btn-primary btn-lg add-btn btn-block quickCheckIn">Quick
                Check-in/Check-out</button>
            <button type="button" class="btn btn-warning btn-lg add-btn btn-block addNewOwner">Add New Owner</button>
            <button type="button" class="btn btn-info btn-lg add-btn btn-block addNewDog">Add New Dog</button>
        </div>
        <div class="col-4">
            <button type="button" class="btn btn-success btn-lg add-btn btn-block updateActivities">Update
                Daily Activities</button>
            <button type="button" class="btn btn-danger add-btn btn-lg btn-block viewAllDogs">View All Dogs</button>
            <button type="button" class="btn btn-secondary add-btn btn-lg btn-block viewAllOwners">View All
                Owners</button>
        </div>
        <div class="col-4" id="weatherDisplay">
            <button type="button" class="btn btn-warning btn-lg btn-block weatherBtn"><span class="fa fa-sun-o"></span>
                View Current Weather <span class="fa fa-cloud"></span></button>
            <h2 id="weather" class="hide"></h2>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-12">
            <h1>Current Checked-in Dogs:</h1>
            <div class="grid-container">
                <div class="grid-header">Dog Name</div>
                <div class="grid-header">Morning Walk</div>
                <div class="grid-header">Midday Walk</div>
                <div class="grid-header">Late Walk</div>
                <div class="grid-header">Meds?</div>
                <div class="grid-header">Notes</div>


                {{#each activities}}
                <div class="grid-item">{{Dog.dog_name}}</div>
                <div class="grid-item">{{morning_walk}}</div>
                <div class="grid-item">{{midday_walk}}</div>
                <div class="grid-item">{{late_walk}}</div>
                <div class="grid-item">{{Dog.meds}}</div>
                <div class="grid-item">{{Dog.notes}}</div>
                {{/each}}
                
            </div>
        </div>
    </div>
</div>


<style>
    .grid-container {
        display: grid;
        margin-top: 30px;
        grid-template-columns: auto auto auto auto auto auto;
        background-color: lightgray;
    }

    .grid-header {
        text-align: center;
        background-color: lightgray;
        border: 1px solid rgba(0, 0, 0, 0.8);
        font-size: 20px;
    }

    .grid-item {
        background-color: lightgray;
        border: 1px solid rgba(0, 0, 0, 0.8);
        font-size: 15px;
        text-align: center;

    }

    #weather {
        padding: 1px;
        margin-top: 20px;
        border: solid black;
        text-align: center;
        border-radius: 5px;
        background: lightgray;
    }

    hr {
        color: rgba(0, 0, 0, 0.8);
        border: none;
        height: 5px;
        /* Set the hr color */
        color: #333;
        /* old IE */
        background-color: #333;
        /* Modern Browsers */
    }

    .hide {
        display: none;
    }

    header {
        background-color: lightgray;
    }

    #time {
        position: absolute;
        display: inline;
        right: -50px;
    }
</style>